<!DOCTYPE html>
<html>
  <head>
    <title>Appium script Online Service</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <p>the Appium server is stared <%= serverStarted %></p>
  </body>
</html>
