<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VNC ,<%= deviceId%></title>

    <script src="/lib/jquery.min.js" defer></script>
    <script src="/dist/vnc.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/vnc.css">

</head>

<body>

<div class="main">
    <div class="vnc">

        <div class="vnc-image"></div>

    </div>
    <div class="controller">
        <div class="dump"></div>
        <div class="executor"></div>
        <div class="script"></div>
    </div>
</div>

</body>
</html>